.padding__bottom {padding-bottom: 3rem;}

.display {display: block;}

.marginBottom-extralarge {margin-top: 10rem;}
.marginTop-big {margin-top: 2rem;}
.marginTop-medium {margin-top: 1.5rem;}
.marginTop-small {margin-top: 1rem;}

.marginRight-big {margin-right: 2rem;}
.marginRight-medium {margin-right: 1.5rem;}
.marginRight-small {margin-right: 1rem;}


.marginLeft-big {margin-left: 2rem;}
.marginLeft-medium {margin-left: 1.5rem;}
.marginLeft-small {margin-left: 1rem;}

.marginBottom-extralarge {margin-bottom: 4rem;}
.marginBottom-big {margin-bottom: 2rem;}
.marginBottom-medium {margin-bottom: 1.5rem;}
.marginBottom-small {margin-bottom: 1rem;}

.width100 { width: 100%;}
.width80 {width: 80%;}
.width60 {width: 60%;}
.width25 {width: 25%;}
.width33 {width: 33%;}
.width15 {width: 15rem;}
.width35rem{ width: 32rem;}
.width8 {width: 8rem;}
.cursor-pointer {cursor: pointer;}
.fontSize {
    font-size: 1.6rem;
}

.blockDisply {
    display: block;
}

.noneDisplay {
    display: none;
}

.colorBlack { color: red;}

.right { right: 2rem;}
.left {left: 2rem;}