.btn {
    outline: none;
    border: none;
    background-color: crimson;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    &:hover {
        background-color: lighten(crimson, 5%);
    }
}